.enterprise {
    background-color: $color2;
    padding: 3em 0;

    &__container {
        width: 90%;
        margin: 0 auto;

        @media screen and (min-width: 768px) {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        @media screen and (min-width: 1024px) {
            width: 80%;
        }
        @media screen and (min-width: 1200px) {
            width: 1070px;
        }
    }
    &__img-container {
        margin: 0 auto;
        padding: 0;
        width: 17em;

        @media screen and (min-width: 768px) {
            width: 30%;
        }
        @media screen and (min-width: 1024px) {
            margin: 0;
        }
    }
    &__img {

    }
    &__copy-container {
        @media screen and (min-width: 768px) {
            width: 60%;
        }
    }
    &__header {

    }
    &__title,
    &__copy {
        color: #fff;
    }
    &__title {
        font-size: 2.3em;
        font-weight: $normal;
        line-height: 1.3;

        @media screen and (min-width: 1024px) {
            font-size: 1.8em;
        }
    }
    &__copy {
        font-size: 1.2em;
        line-height: 1.6;

        @media screen and (min-width: 1024px) {
            font-size: 1em;
        }
    }
}