.nav {
    @media screen and (max-width: 767px) {
        background-color: $color2;
        position: fixed;
        top: 5em;
        right: -100%;
        width: 100%;
        min-height: 100vh;
        z-index: 500;
        padding-top: 1em; 
    }
    @media screen and (min-width: 768px) {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        background-color: #C12127;
    }

    &.mostrar {
        right: 0;
    }
    &__list {
        list-style: none;
        margin: 0;
        padding: 0;

        @media screen and (min-width: 768px) {
            width: 90%;
            margin: 0 auto;
            display: flex;
            justify-content: space-between;
        }
        @media screen and (min-width: 1024px) {
            width: 80%;
        }
        @media screen and (min-width: 1200px) {
            width: 1070px;
        }
    }
    &__list-item {
        @media screen and (max-width: 767px) {
            border-bottom: 1px solid $color6;
            padding-left: 1em;         
        }
    }
    &__list-item--style {
        @media screen and (max-width: 767px) {
            border-bottom: 0;
        }
    }
    &__link {
        @media screen and (max-width: 767px) {
            text-decoration: none;
            color: $color6;
            font-size: 1.2em;
            line-height: 3.4;
            &:hover {
                color: #fff;
            }
        }
        @media screen and (min-width: 768px) {
            line-height: 3;
            text-decoration: none;
            color: rgba(#fff, .7);
            font-size: .9em;
            transition: all 450ms ease-in;
            &:hover {
                color: #fff;
            } 
        }
    }
}