.packages {
    padding: 3.5em 0 2em;

    &__container {
        width: 90%;
        margin: 0 auto;
    }
    &__header {
        text-align: center;
    }
    &__header-title {
        font-weight: $light;
        color: $color5;
        font-size: 2.5em;
        line-height: 1.4;
    }
    //Items
    &__items-container {

    }
    &__item {
        padding: 2em 1em;
    }
    //Individual
    &__item-pack {
        display: flex;
        justify-content: space-between;
        align-items: center;

        margin-bottom: 1em;      
    }
    &__item-img-container {
        margin: 0;
        padding: 0;
        width: 28%;
    }
    &__item-img-container--style {
        width: 4em;
    }
    &__item-img {

    }
    //copy item
    &__copy-container {
        padding-left: .5em;
        width: 70%;
    }
    &__copy-title {
        font-size: 1.1em;
        color: $color5;
        font-weight: $medium;
        margin-bottom: 0;
    }
    &__copy-subtitle {
        color: $color6;
        font-size: 1em;
        margin: .5em 0 0;
    }
    &__copy-version {
        color: $color6;
        line-height: 1.5;
        margin-top: .5em;
        font-size: .9em;
    }
    &__copy-link {
        text-decoration: none;
        color: $color5;
        &:hover {
            text-decoration: underline;
        }
    }
    &__item--column2 {
        @media screen and (max-width: 1023px) {
            display: none
        }
    }
    &__item--column3 {
        @media screen and (max-width: 1199px) {
            display: none;
        }
    }
}